@import "../../../../../styles/mixins/response-mixin.scss";

.login {
	padding: 20px 0;
	&__body {
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 20px;
	}
	&__content {
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 30px;
		@mixin tablets {
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}
}