@import "../../../../styles/mixins/response-mixin.scss";

.header {
	background-color: #1E1D23;
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-right: auto;
		margin-left: auto;
		padding-top: 35px;
		padding-bottom: 35px;
		max-width: 1500px;
	}
	&__nav_list {
		display: flex;
		@include phones{display: none}
	}
	&__nav_item {
		&:not(:last-child) {
			margin-right: 34px;
		}
	}
	&__nav_link {
		color: #FFFFFF;
		font-weight: 700;
		font-size: 20px;
		transition: all 0.4s ease 0s;
		&:hover {
			color: #FFE70B;
		}
	}
	&__menu {
		display: none;
		width: 35px;
		z-index: 150;
		@include phones{display: block;}
	}
	&__head_block {
		display: flex;
		align-items: center;
	}
	&__logo {
		margin-right: 15px;
		width: 25px;
	}
}