.header {
	background-color: #1e1d23;
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 35px 0px;
	}
	// &__title {
	// 	color: #FFE70B;
	// 	font-weight: 700;
	// 	font-size: 20px;
	// 	line-height: 24px;
	// }
	&__nav_list {
		display: flex;
		flex-wrap: wrap;
		gap: 34px;
		@media (max-width: 560px) {
			display: block;
		}
	}
	&__nav_item {
		// &:not(:last-child) {
		// 	margin-right: 34px;
		// }
		@media (max-width: 560px) {
			&:not(:last-child) {
				margin-bottom: 10px;
			}
		}
	}
	&__nav_link {
		color: #ffffff;
		font-weight: 700;
		font-size: 20px;
		transition: all 0.4s ease 0s;
		&:hover {
			color: #ffe70b;
		}
	}
	&__head_block {
		display: flex;
		align-items: center;
	}
	&__logo {
		// margin-right: 15px;
		// width: 25px;
	}
}
