.login {
	padding: 20px 0;
	&__body {
		background-color: rgba(255, 255, 255, 0.8);
		border-radius: 20px;
	}
	&__content {
		padding: 20px;
		display: grid;
		grid-template-columns: 1fr 2fr;
		gap: 30px;
		@media (max-width: 750px) {
			grid-template-columns: 1fr;
			gap: 20px;
		}
	}
	&__left {
		background-color: #3b37fe;
		border-radius: 15px;
	}
}

.left {
	color: #fff;
	padding: 40px;

	&__logo {
		margin-bottom: 100px;
		@media (max-width: 750px) {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-size: 45px;
		margin-bottom: 30px;
		@media (max-width: 750px) {
			margin-bottom: 20px;
		}
	}
	&__text {
		line-height: 1.5;
		margin-bottom: 100px;
		@media (max-width: 750px) {
			margin-bottom: 20px;
		}
	}
	&__card {
		line-height: 20px;
		background-color: #221eff;
		padding: 20px 10px;
		border-radius: 10px;
	}
}

.right {
	color: #000;
	padding: 40px;
	@media (max-width: 750px) {
		padding: 0;
	}
	&__pretitle {
		margin-bottom: 30px;
	}
	&__title {
		font-size: 26px;
		font-weight: 600;
		margin-bottom: 20px;
	}
	&__name {
		margin-bottom: 30px;
	}
	&__email {
		margin-bottom: 15px;
	}
	&__password {
		margin-bottom: 30px;
	}
}

.button {
	background-color: #3b37fe;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
	position: relative;
	overflow: hidden;
	transition: all 0.3s ease 0s;
	&::before {
		content: "";
		position: absolute;
		width: 20px;
		height: 100%;
		top: 0;
		left: 0;
		background-color: rgba(255, 255, 255, 0.5);
		transform: translate(-60px) skew(-30deg);
	}
	@media (any-hover: hover) {
		&:hover {
			background-color: #3a37fedc;
			transition: all 0.3s ease 0s;
			&::before {
				animation: highlight 0.6s;
			}
		}
	}
}

@keyframes highlight {
	0% {
		transform: translate(-60px) skew(-30deg);
	}
	100% {
		transform: translate(130px) skew(-30deg);
	}
}